html, body{
  height: 100%;
}
body{
  margin: 0;
}

.nav-wrapper{
  height: 100vh;
  display: grid;

  justify-items: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 10px;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.grid-item{
  height: 10em;
  width: 10em;
  background: rgb(116, 1, 1);
  font-size: 12px;
  font-style: oblique;
  color: #FFF;
  /*text-align: center;*/
  /* padding: 0 20px; */
  /* margin: 20px; */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s, height 1s;
  border-radius: 50%;
}

.grid-item:hover{
  font-size: 1.1em;
  
}
:active {
  width: 100vw;
  height: 100vh;
}

.red{
  background: rgb(148, 1, 1);
}
.blue{
  background: rgb(3, 1, 116);
}
.green{
  background: radial-gradient( rgb(0, 128, 43), rgb(0, 128, 43),black);
  /* background: rgb(0, 128, 43); */
}
.black{
  background: rgb(0, 0, 0);
}
.purple{
  background: rgb(71, 0, 88);
}
.orange{
  background: rgb(185, 105, 0);
}